---
layout: page
description: "Cool stories from Canada's North"
---

</p><b>This website remains a work in progress. Bear with me.</h4></b>

<p>I'm the editor of the <a href="http://yukon-news.com">Yukon News</a>. This site features some of my better writing from a decade of reporting and opinion-mongering in northern Canada.</p>

<p>Most recently I've won national prizes for my editorials on local and national issues. Prior to being thrown into the editor's seat, I picked up a healthy share of awards for enterprise reporting and feature writing.</p>

<p>You'll find some serious stuff here about alcoholism, Yukon's housing shortage and climate change. I've also included some fun stories about projectile-vomiting seabirds, a crotchety sled-dog and my farewell to Iqaluit's greasiest diner.</p>

<p>Find latest editorials <a href="http://yukon-news.com/letters-opinions/">here</a>. My complete resume is at <a href="http://www.linkedin.com/in/johngthompson">LinkedIn</a>. And I often share snarky asides and good reads on <a href="https://twitter.com/jayjeetee">Twitter</a>.

<p>Reach me at the <a href="http://www.yukon-news.com/information/contact-us/#newsroom">News</a>, or at johngthompson (at) gmail.com.

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        {% if post.awards %}
        <i><h4 class="post-awards">
            {{ post.awards }}
        </h4></i>
        {% endif %}
        {{ post.excerpt }}
    </a>
    <p class="post-meta"><b>{{post.category}}</b> • {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} • {{ post.date | date: "%B %-d, %Y" }}</p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
